---
layout: eng
---
{% assign data = site.data.dataeng %}
<div class="container">
  {% include header.html data=data %}
  <div class="container-block">
    <div class="sidebar">
      {% include contact.html data=data %}
      {% include languages.html data=data %}
      {% include education.html data=data %}
      {% include skills.html data=data %}
      {% include fork.html data=data %}
    </div>

    <div class="main">
      {% include career-profile.html data=data %}
      {% include experience.html data=data %}
      {% include projects.html data=data %}
      {% include volunteering.html data=data %}
      {% include publications.html data=data %}
    </div>
  </div>
</div>