<style>
  .download-button {
    border: none;
    background: none;
  }
</style>


<div class="header">
  <h1 class="title">{{site.data.data.name}}</h1>
  <div>
    <button id="download" name="downloadPDF" class="download-button" onclick="downloadPDF()">
      <label for="download"><i data-feather="download" fill="var(--fg-color)"></i></label>
    </button>
    {% if site.data.data.support_dark_mode%}
      <input type="checkbox" id="switch" name="mode" class="toggle-dark"></input>
      <label for="switch"><i id="moon" data-feather="moon" fill="var(--fg-color)"></i></label>
    {%endif%}

    <select id="language-selector" onchange="changeLanguage()">
      <option value="pt" selected>Portuguese</option>
      <option value="en">English</option>
    </select>
  </div>
</div>
<script>
  function downloadPDF() {
    window.print();
  }

  function changeLanguage() {
    const selectedLanguage = document.getElementById('language-selector').value;
    const importFile = selectedLanguage === 'en' ? 'data-english.yml' : 'data.yml';
    
    fetch(importFile)
      .then(response => response.text())
      .then(data => {
        console.log(data);
      })
      .catch(error => {
        console.error('Error loading the language file:', error);
      });
  }

</script>