<style>
  .download-button {
    border: none;
    background: none;
  }

  .button-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
  }

  #language-selector {
    color: white; /* Text color */
    background-color: var(--fg-color); /* Background color */
    border: 1px solid var(--fg-color); /* Border color */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 15px; /* Padding for better appearance */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    appearance: none; /* Remove default arrow for a custom look (optional) */
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #language-selector {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="white" d="M12 6l-4 4-4-4h8z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: 15px;
  }

  #language-selector:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 98, 155, 0.5);
  }

  @media print {
    #language-selector {
      display: none;
    }
  }
</style>

<div class="header">
  <h1 class="title">{{site.data.data.name}}</h1>
  <div class="button-wrap">
    <button id="download" name="downloadPDF" class="download-button" onclick="downloadPDF()">
      <label for="download"><i data-feather="download" fill="var(--fg-color)"></i></label>
    </button>
    {% if site.data.data.support_dark_mode %}
      <input type="checkbox" id="switch" name="mode" class="toggle-dark"></input>
      <label for="switch"><i id="moon" data-feather="moon" fill="var(--fg-color)"></i></label>

      <select id="language-selector" onchange="changeLanguage()">
        <option value="pt">Português</option>
        <option value="en">English</option>
      </select>
    {% endif %}
  </div>
</div>

<script>
  function downloadPDF() {
    window.print();
  }

  function changeLanguage() {
    const selectedLanguage = document.getElementById('language-selector').value;
    const basePath = window.location.pathname.split('/').slice(0, -1).join('/'); // Get current path
    if (selectedLanguage === 'en') {
      window.location.href = `${basePath}/en.html`; // Redirect to English version
    } else if (selectedLanguage === 'pt') {
      window.location.href = `${basePath}/index.html`; // Redirect to Portuguese version
    } else {
      window.location.href = `${basePath}/index.html`; // Redirect to Portuguese version
    }
  }

  function setLanguage() {
    const currentPage = window.location.pathname;
    const languageSelector = document.getElementById('language-selector');

    if (currentPage.includes('/en.html')) {
      languageSelector.value = 'en'; // Set English as selected
    } else {
      languageSelector.value = 'pt'; // Set Portuguese as selected (default)
    }
  }

  window.onload = setLanguage;
</script>
