<div class="header">
  <h1 class="title">{{site.data.data.name}}</h1>
  <div class="button-wrap">
    <button id="download" name="downloadPDF" class="download-button" onclick="downloadPDF()">
      <label for="download"><i data-feather="download" fill="var(--fg-color)"></i></label>
    </button>
    {% if site.data.data.support_dark_mode %}
      <input type="checkbox" id="switch" name="mode" class="toggle-dark"></input>
      <label for="switch"><i id="moon" data-feather="moon" fill="var(--fg-color)"></i></label>

      <select id="language-selector" onchange="changeLanguage()">
        <option value="pt">Português</option>
        <option value="en">English</option>
      </select>
    {% endif %}
  </div>
</div>

<script>
  function downloadPDF() {
    window.print();
  }

  function changeLanguage() {
    const selectedLanguage = document.getElementById('language-selector').value;
    const basePath = window.location.pathname.split('/').slice(0, -1).join('/');
    if (selectedLanguage === 'en') {
      window.location.href = `${basePath}/en.html`;
    } else if (selectedLanguage === 'pt') {
      window.location.href = `${basePath}/index.html`;
    } else {
      window.location.href = `${basePath}/index.html`;
    }
  }

  function setLanguage() {
    const currentPage = window.location.pathname;
    const languageSelector = document.getElementById('language-selector');

    if (currentPage.includes('/en.html')) {
      languageSelector.value = 'en';
    } else {
      languageSelector.value = 'pt';
    }
  }

  window.onload = setLanguage;
</script>
