<style>
    .technologies {
        font-size: 12px;
        color: #688293;
    }
</style>

{% assign projects = include.data.projects %}
{% assign projects_title = include.data.projects_title %}
{% if projects %}
<section class="projects">
    <h2 class="title">{{projects_title}}</h2>
    {% for p in projects %}
    <div class="project">
        <span>
            <a class="project-link" href="{{p.link}}">
                {{p.title}}
            </a>
        </span>
        <span class="details">- {{p.details}}</span>
        <p class="technologies">Tecnologias Usadas: {{p.technologies_used}}</p>
    </div>
    {% endfor %}
</section>
{% endif %}